@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
/* Base Style */
:root {
  --primary-color: #f60f20;
  --secondary-color: #fff;
  --text-color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: "Poppins", serif;
  box-sizing: border-box;
  color: var(--text-color);
}
h1 {
  font-size: 2.2rem;
  font-weight: 500;
}
p {
  margin: 20px 0;
  font-size: 1.1rem;
  padding-right: 1.65rem;
  text-align: justify;
}
.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}
/* Toggle */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../images/menu.png);
  cursor: pointer;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
}
.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  cursor: pointer;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
/* Navigation */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.active {
  left: 0;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}
.navigation ul li > a {
  z-index: 10;
  font-size: 1.09rem;
  text-decoration: none;
  font-weight: 400;
  color: var(--text-color);
}
.navigation ul > li a:hover {
  font-weight: 600;
  color: var(--primary-color);
}

.navigation > div.social-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation div.social-bar ul > li {
  margin: 6px;
}
\ .navigation div.social-bar ul > li a {
  display: inline-block;
  transform: scaleX(0.5);
}

.navigation div.social-bar ul > li a > img {
  width: 32px;
  height: 26px;
}
.navigation div.social-bar ul > li a > img:hover {
  transform: scale(1.06);
}
.navigation .email-icon {
  position: absolute;
  bottom: 20px;
  transform: scale(0.5);
}
/* Home Screen */
section {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 100px;
  flex-direction: column;
  margin-top: 60px;
}
section.home {
  flex-direction: row;
  /* overwriting */
  margin-top: 0;
}
section img.home-img {
  position: absolute;
  /* pushed to the right */
  bottom: 0;
  right: 0;
  height: 110%;
}
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}
/* Button */
a.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;

  /* Margin would not apply with link, to do so add display:inline-block */
  padding: 10px 30px;
  margin: 12px 0;
  display: inline-block;
  border: 0;
  border-radius: 10px;
  font-size: 1.2rem;
}
a.btn:hover {
  transform: scale(0.98);
}

/* Services */
.services {
  margin-top: 40px;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
}
.services .service {
  padding: 20px;
}
.services .service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.services .service h2 {
  font-size: 1.4rem;
  color: #1b206e;
  font-weight: 400;
  margin-top: 20px;
}
.services .service img {
  max-width: 100px;
}
/* Media Queries */
@media (max-width: 1068px) {
  section {
    padding: 40px;
  }
  section img.home-img {
    display: none;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  p {
    margin: 20px 0;
    font-size: 0.89rem;
    padding-right: 1.25rem;
    text-align: justify;
  }
  .logo {
    left: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 20;
  }

  a.btn {
    padding: 8px 25px;
    margin: 10px 0;
    display: inline-block;
    border: 0;
    border-radius: 8px;
    font-size: 1rem;
  }

  /* Services */
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*Work Page*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.portfolio .item {
  position: relative;
  width: 300px;
  height: 300px;
}
.portfolio .item .action {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.portfolio .item:hover .action {
  opacity: 1;
  margin: 5px;
}
.portfolio .item .action a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  display: inline-block;
}
.portfolio .item img {
  width: 100%;
  height: 300px;
  margin: 5px;
}

/* CONTACT */
.contact {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.contact-form .input50 {
  width: 50%;
  margin: 0 10px;
}

.contact-form .input100 {
  width: 100%;
  margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background: transparent;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
  resize: none;
}

.contact-form .row textarea {
  height: 150px;
}

.contact-form .row input[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  border: 0;
  cursor: pointer;
}

.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 60px 40px 20px;
}

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
  width: 20px;
  margin-right: 40px;
}

.contact-info .info-box .details h4 {
  color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Services */
  .services {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .services .service h2 {
    font-size: 1.04rem;
    color: #1b206e;
    font-weight: 400;
    margin-top: 10px;
  }
  .services .service img {
    max-width: 80px;
  }
  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}
